<p id="notice"><%= notice %></p>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Picture</th>
      <th scope="col">Author</th>
      <th scope="col">Status</th>
    </tr>
    <tbody>
    <tr>
      <td><%= @idea.name %></td>
      <td><%= @idea.description %></td>
      <td><%= image_tag(@idea.picture_url, width: 600) if @idea.picture.present? %></td>
      <td><%= User.find(@idea.user_id).name %></td>
      <td><%= @idea.status.humanize %></td>
    </tr>
  </tbody>
</thead>
</table>
<div class="float-left">
  <%= link_to 'Edit', edit_idea_path(@idea), class: "text-muted" %> |
  <%= link_to 'Back', ideas_path, class: "text-muted" %>
</div>
